<h1>Add to the Bookshelf</h1>

<form method="POST" action="/review/add">

    <div>
        <label>Title</label>
        <input type="text" name="title">
    </div>

    <div>
        <label>Author</label>
        <input type="text" name="author">
    </div>

    <div>
        <label>Year Published</label>
        <input type="number" name="year">
    </div>

    <div>
        <label>Read it?</label>
        <input type="text" name="isRead">
    </div>

    <div>
        <label>Comments</label>
        <textarea name="comments"></textarea>
    </div>

    <button type="submit">Add to Bookshelf!</button>

</form>